/* login styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link a {
    text-decoration: none;
    color: #007bff;
  }
  

/* signup styles */


/* Center the signup sections */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

/* Style the individual signup sections */
.signup-section {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.signup-section h2 {
  margin-bottom: 10px;
}

/* Style the input fields */
.signup-section form input[type="text"],
.signup-section form input[type="email"],
.signup-section form input[type="tel"],
.signup-section form input[type="number"],
.signup-section form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Add margin between fields */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-section form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*For POPUP*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: white;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* CSS to style the close button */
#close-popup {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}



